* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.btn{
    outline: none !important;
}

/* ----------- start colorS--------------- */

:root {
    --white-color: #FFFFFF;
    --primary-color: #0083DE;
    --bt-color: #F0A500;
}

.grennco{
    color: #00ED39;
}
/* ----------- end colorS--------------- */

body {
    width: 100vW;
}


/* start Navbar  */

.navbar {
    background-color: var(--white-color);
    color: #002771;
}

.navbar-brand img {
    width: 76px;
}

.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--bt-color);
}

.navbar .navbar-toggler {
    border-color: black;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--white-color);
}
/* dropdwon list  */
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav
 .dropdown-menu {
    position: absolute;
    left: -60px !important;
}
}
/* End Navbar  */


/* start slider  */

.carousel-caption {
    margin-bottom: 104px;
}

.ti {
    color: var( --primary-color)!important;
}

.para-caros {
    max-width: 700px;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 820px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 800px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* End slider  */


/* start about Us  */

@media (max-width: 1198px) {}


/* End about Us  */


/* start WHY CHOOSE US */

#whychooseUs {
    background-color: #FAFAFA !important;
}


/* End WHY CHOOSE US */


/* start  OUR SERVICES */

.OURSERVICES {
    background-color: #0083DE !important;
}
/* End  OUR SERVICES */

/* start download app */

/* end download app */

/* start statistique  */
#statistique{
    background-color: #0083DE !important;
    color: #FFFFFF;
}
/* end statistique  */
/* scroll bars */
::-webkit-scrollbar{
    background-color:gray;
}
::-webkit-scrollbar-thumb{
    background: #0083DE ;
    border-radius: 10px;
}
/* scroll bars */

/* start Brands We Repair  */

/* end Brands We Repair  */


/* start profile mechanical   */

/* End profile mechanical  */


