* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --white-color: #FFFFFF;
    --primary-color: #0083DE;
    --bt-color: #F0A500;
}

body {
    width: 100vW;
}


/* start Navbar  */

.navbar {
    background-color: var(--white-color);
    color: #002771;
}

.navbar-brand img {
    width: 76px;
}

.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--bt-color);
}

.navbar .navbar-toggler {
    border-color: black;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--white-color);
}


/* End Navbar  */


/* start slider  */

.carousel-caption {
    margin-bottom: 104px;
}

.ti {
    color: var( --primary-color)!important;
}

.para-caros {
    max-width: 700px;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 820px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 800px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* End slider  */


/* start about Us  */

@media (max-width: 1198px) {}


/* End about Us  */


/* start WHY CHOOSE US */

#whychooseUs {
    background-color: #FAFAFA !important;
}


/* End WHY CHOOSE US */